{% comment %}
  Include Name: components/icons/dimension-icon.html

  Purpose: Displays SVG dimension icons for the discovery dimensions grid and navigation

  Parameters:
  - type: Dimension type (sector, market, attribute, signal)
  - class: Additional CSS classes (optional)
  - size: Size variant (sm, md, lg) (optional, default: md)

  Dependencies:
  - SVG files in _includes/components/icons/{type}-default.svg
  - CSS in assets/css/components/dimension-icon.css

  Example Usage:
  {% include components/icons/dimension-icon.html type="sector" %}
  {% include components/icons/dimension-icon.html type="market" size="lg" class="custom-class" %}
{% endcomment %}

{% assign type = include.type | default: "sector" %}
{% assign icon_class = include.class | default: "" %}
{% assign size = include.size | default: "md" %}
{% assign icon_path = type | append: "-default.svg" %}

<div class="dimension-icon dimension-icon--{{ type }} dimension-icon--{{ size }} {{ icon_class }}">
  {% include components/icons/{{ icon_path }} %}
</div>
