{% comment %}
  Component: pages/brand-basic/identity.html
  Purpose: Brand basic identity section with header and basic info
{% endcomment %}

{% assign brand = include.brand | default: page %}

<div class="brand-basic-identity">
  <div class="brand-basic-header">
    <div class="brand-basic-header__content">
      <div class="brand-basic-title-section">
        <h1 class="brand-basic-title">{{ brand.name }}</h1>
        
        {% if brand.city and brand.region %}
          <p class="brand-basic-location">
            <i class="icon icon--location"></i>
            {{ brand.city }}, {{ brand.region }}
            {% if brand.country %}
              , {% include components/helpers/country-name.html code=brand.country lang=brand.lang %}
            {% endif %}
          </p>
        {% endif %}

        {% if brand.founding_year %}
          <p class="brand-basic-founded">
            Founded {{ brand.founding_year }}
            {% if brand.founding_year %}
              {% assign years_operating = 'now' | date: '%Y' | minus: brand.founding_year %}
              ({{ years_operating }} years)
            {% endif %}
          </p>
        {% endif %}
      </div>

      <div class="brand-basic-actions">
        {% if brand.website %}
          <a href="{{ brand.website }}" class="btn btn--primary" target="_blank" rel="noopener">
            Visit Website
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>