{% comment %} Use translation helper for logic light architecture {% endcomment %}
{% assign t_title = "" %}
{% capture t_title %}{% include helpers/t.html key="discovery.impact.title" fallback="" %}{% endcapture %}
{% assign t_text = "" %}
{% capture t_text %}{% include helpers/t.html key="discovery.impact.text" fallback="" %}{% endcapture %}

{% if t_title != "" %}
  <h2 class="panel__heading-secondary">{{ t_title }}</h2>
{% endif %}

{% if t_text != "" %}
  <p class="panel__lead-text">{{ t_text }}</p>
{% endif %}

{% if include.content and include.content != empty %}
  <div class="panel__paragraph">
    {{ include.content }}
  </div>
{% endif %}