{% comment %} Use translation helper for logic light architecture {% endcomment %}
{% assign t_title = "" %}
{% assign key_var = "discovery.impact.title" %}
{% assign fallback_var = "" %}
{% capture t_title %}{% include helpers/t.html key=key_var fallback=fallback_var lang=page.lang %}{% endcapture %}
{% assign t_text = "" %}
{% assign key_var = "discovery.impact.text" %}
{% assign fallback_var = "" %}
{% capture t_text %}{% include helpers/t.html key=key_var fallback=fallback_var lang=page.lang %}{% endcapture %}

{% if t_title != "" %}
  <h2 class="panel__heading-secondary">{{ t_title }}</h2>
{% endif %}

{% if t_text != "" %}
  <p class="panel__lead-text">{{ t_text }}</p>
{% endif %}

{% if include.content and include.content != empty %}
  <div class="panel__paragraph">
    {{ include.content }}
  </div>
{% endif %}