{% comment %}
  Component: pages/insights/search-filters.html
  Purpose: Standalone search and filter section for insights
  Parameters:
    - panel_type: The type of panel to use (default: white)
    - show_search: Whether to show search box (default: true)
    - show_categories: Whether to show category filter (default: true)
    - show_markets: Whether to show markets filter (default: false)
    - show_sectors: Whether to show sectors filter (default: false)
  Dependencies:
    - components/search/insights-search.html
    - components/filters/categories-filter.html
    - components/filters/dimensions-filter.html
{% endcomment %}

{% assign t = site.data.translations[page.lang].insights %}
{% assign panel_type = include.panel_type | default: "white" %}
{% assign layout = include.layout | default: "horizontal" %}
{% assign insights = site.insights | where: "lang", page.lang %}

<div class="panel panel--{{ panel_type }}">
  <div class="panel__content">
    <div class="insights-search-filters insights-search-filters--{{ layout }}">
      {% if layout == "horizontal" %}
        <div class="insights-search-filters__horizontal">
          <div class="insights-search-filters__search">
            {% include components/search/insights-search.html %}
          </div>
          <div class="insights-search-filters__filters">
            <div class="insights-search-filters__filter-group">
              {% include components/filters/categories-filter.html insights=insights compact=true %}
            </div>
            <div class="insights-search-filters__filter-group">
              {% include components/filters/dimensions-filter.html insights=insights dimension_type="markets" compact=true %}
            </div>
            <div class="insights-search-filters__filter-group">
              {% include components/filters/dimensions-filter.html insights=insights dimension_type="sectors" compact=true %}
            </div>
          </div>
        </div>
      {% else %}
        <div class="insights-search-filters__sidebar">
          {% include components/search/insights-search.html %}
          {% include components/filters/categories-filter.html insights=insights %}
          {% include components/filters/dimensions-filter.html insights=insights dimension_type="markets" %}
          {% include components/filters/dimensions-filter.html insights=insights dimension_type="sectors" %}
          {% include components/filters/dimensions-filter.html insights=insights dimension_type="attributes" %}
          {% include components/filters/featured-brands-filter.html insights=insights %}
        </div>
      {% endif %}
    </div>
  </div>
</div>