{% comment %}
  Component: components/helpers/founder-tags.html

  Purpose: Renders a founder's associated tags (markets, sectors, expertise)

  Parameters:
  - markets: Array of market codes (optional)
  - sectors: Array of sector codes (optional)
  - primary_sector: Primary sector code if sectors not provided (optional)
  - expertise: Array of expertise values (optional)
{% endcomment %}

{% comment %} Markets {% endcomment %}
{% if include.markets %}
  {% for market in include.markets limit:2 %}
    <span class="founder-card__tag founder-card__tag--market">
      {% include components/helpers/country-name.html code=market lang=page.lang %}
    </span>
  {% endfor %}
{% endif %}

{% comment %} Sectors {% endcomment %}
{% if include.sectors %}
  {% for sector in include.sectors limit:2 %}
    <span class="founder-card__tag founder-card__tag--sector">
      {{ site.data.dimensions[page.lang].sectors[sector] | default: sector }}
    </span>
  {% endfor %}
{% elsif include.primary_sector %}
  <span class="founder-card__tag founder-card__tag--sector">
    {{ site.data.dimensions[page.lang].sectors[include.primary_sector] | default: include.primary_sector }}
  </span>
{% endif %}

{% comment %} Expertise (limited) {% endcomment %}
{% if include.expertise %}
  {% for expertise in include.expertise limit:1 %}
    <span class="founder-card__tag founder-card__tag--expertise">
      {{ expertise }}
    </span>
  {% endfor %}
{% endif %}
