<!-- _includes/components/brands/tag-list.html -->
{% comment %}
  Component: components/brand/tag-list.html
  Purpose: Displays a list of tags for a specific dimension
  Parameters:
    - tags: Array of tag slugs to display
    - dimension_type: Type of dimension (attributes/signals/sectors/markets)
    - heading: Section heading
    - lang: Language code
    - show_if: Condition to show the section (optional)
{% endcomment %}

{% assign show_section = include.show_if | default: true %}

{% if include.tags and show_section %}
<div class="brand-sidebar__section">
  <h3 class="brand-sidebar__heading">{{ include.heading }}</h3>
  <div class="brand-sidebar__tags">
    {% for tag in include.tags %}
      {% assign dimension_type_singular = include.dimension_type | singularize %}
      {% assign dimensions_array = site.data[include.dimension_type][include.dimension_type] %}
      {% assign found_dimension = nil %}

      {% for dimension in dimensions_array %}
        {% if dimension.id == tag %}
          {% assign found_dimension = dimension %}
          {% break %}
        {% endif %}
      {% endfor %}

      <a href="{{ site.baseurl }}/{{ include.lang }}/discover/{{ include.dimension_type }}/{{ tag | slugify }}/"
         class="brand-sidebar__tag brand-sidebar__tag--{{ dimension_type_singular }}">
         {% if found_dimension %}
           {{ found_dimension.translations[include.lang].name }}
         {% else %}
           {{ tag }}
         {% endif %}
      </a>
    {% endfor %}
  </div>
</div>
{% endif %}
