{% comment %}
  Code example include for styleguide documentation
  
  Usage:
  {% include styleguide/code-example.html language="html" code='<div>Example code</div>' preview=true %}
{% endcomment %}

{% if include.preview %}
<div class="code-example">
  <div class="code-example__preview">
    {{ include.code }}
  </div>
  <div class="code-example__code">
    <span class="code-example__language">{{ include.language }}</span>
    <pre><code class="language-{{ include.language }}">{{ include.code | escape }}</code></pre>
  </div>
</div>
{% else %}
<div class="code-example">
  <span class="code-example__language">{{ include.language }}</span>
  <pre><code class="language-{{ include.language }}">{{ include.code | escape }}</code></pre>
</div>
{% endif %}