<div class="type-sample">
  <div class="type-sample__info">
    <h4>{{ include.name }}</h4>
    <dl>
      <dt>Variable:</dt>
      <dd>{{ include.variable }}</dd>
      <dt>Font Family:</dt>
      <dd>{{ include.family }}</dd>
      <dt>Font Size:</dt>
      <dd>{{ include.size }}</dd>
      <dt>Font Weight:</dt>
      <dd>{{ include.weight }}</dd>
    </dl>
  </div>
  <div class="type-sample__preview">
    {{ include.code }}
  </div>
  <div class="type-sample__code">
    <span class="type-sample__language">html</span>
    <pre><code class="language-html">{{ include.code | escape }}</code></pre>
  </div>
</div>