{% comment %}
  Include Name: components/insights/insights-category-navigation.html

  Purpose: Renders insights category navigation with clean blockish styling

  Parameters:
    - active_category: The currently active category (optional, defaults to page.category)

  Dependencies:
    - CSS: components/insights/insights-category-navigation.scss
    - Translation data: site.data.insights[page.lang].categories
{% endcomment %}

{% assign active_category = include.active_category | default: page.category %}
{% assign current_lang = page.lang | default: 'en' %}
{% assign categories = site.data.insights[current_lang].categories %}

<div class="insights-category-navigation">
  <div class="insights-category-navigation__container">
    <div class="insights-category-navigation__tabs">

      {% for category in categories %}
        {% assign category_slug = category.id | replace: "_", "-" %}
        <a href="{{ site.baseurl }}/{{ current_lang }}/insights/categories/{{ category_slug }}/"
           class="insights-category-navigation__tab {% if active_category == category_slug %}active{% endif %}"
           data-category="{{ category_slug }}">
          <span class="insights-category-navigation__icon">{{ category.icon }}</span>
          <span class="insights-category-navigation__label">{{ category.name }}</span>
        </a>
      {% endfor %}

    </div>
  </div>
</div>
