{% comment %}
  Component: pages/insight/sidebar/location-info.html

  Purpose: Displays location details for location intelligence articles

  Parameters:
  - insight: The insight page object (required)

  Dependencies:
  - CSS: pages/insight/sidebar/location-info.scss
  - site.data.translations[page.lang] for localized labels
  - components/helpers/country-name.html for country names

  Used by:
  - insight-article layout via sidebar_sections array (for location-intelligence articles)

  Notes:
  - Only used in location intelligence articles
  - Displays information about the city/region/country
  - May include key statistics about the location
{% endcomment %}

{% assign t = site.data.translations[page.lang] %}

<div class="sidebar-section sidebar-location-info">
  <h3 class="sidebar-title">{{ t.brand.location_intelligence }}</h3>

  <ul class="location-info-list">
    {% if insight.location_city %}
      <li class="location-info-item">
        <span class="location-info-label">{{ t.brand.location }}:</span>
        <span class="location-info-value">{{ insight.location_city }}</span>
      </li>
    {% endif %}

    {% if insight.location_region %}
      <li class="location-info-item">
        <span class="location-info-label">{{ t.brand.location_region }}:</span>
        <span class="location-info-value">{{ insight.location_region }}</span>
      </li>
    {% endif %}

    {% if insight.location_country %}
      <li class="location-info-item">
        <span class="location-info-label">{{ t.brand.location_country }}:</span>
        <span class="location-info-value">
          {% include components/helpers/country-name.html code=insight.location_country %}
        </span>
      </li>
    {% endif %}
  </ul>
</div>
