/* assets/css/components/separators/comma-separator.css */

.separator--comma {
  margin-top: 0;
  margin-right: 0.4em;
  margin-bottom: 0;
  margin-left: 0.0;
  color: var(--separator-color, var(--primary-400)); /* fallback to brand teal */
  font-size: 1em;
}
