{% comment %}
  Section: insights-category/category-navigation.html
  
  Displays category navigation for insights with custom styling to remove margins
  
  Dependencies:
  - components/insights/insights-category-navigation.html
{% endcomment %}

<style>
  .panel--no-margin {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
  .panel--no-margin + .insights-category-section--hero .panel--hero-split {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
</style>

{% include components/insights/insights-category-navigation.html style_option="b" %}