/* assets/css/components/separators/en-dash-separator.scss */

.separator--en-dash {
  margin: 0 0.4em;
  font-size: 1em;
  color: var(--separator-color, var(--primary-400));
  vertical-align: middle;
}
