<header class="header">
  <div class="header__container">
    <!-- Logo and Toggle -->
    <div class="header__branding">
      <a class="header__title" href="/{{ page.lang }}/">Brandmine</a>
       <button class="header__toggle" aria-label="Toggle navigation" aria-expanded="false" aria-controls="main-nav">
        <span class="header__toggle-icon">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>
    </div>
    <!-- Language Switcher -->
    <div class="header__lang">
      {% include language-selector.html %}
    </div>
  </div>

    <!-- Navigation -->
    {% include navigation.html %}

</header>
