<nav class="header__nav" id="main-nav">
  <ul class="header__nav-list">
    <li class="header__nav-item"><a href="/{{ page.lang }}/">Home</a></li>
    <li class="header__nav-item"><a href="/{{ page.lang }}/brands/">Brands</a></li>
    <!-- Dropdown -->
    <li class="header__nav-item header__dropdown">
      <a href="/{{ page.lang }}/discover/" role="button" aria-haspopup="true" aria-expanded="false">
        <span>Discover</span> <span class="header__dropdown-icon" aria-hidden="true">&#x25BE;</span>
      </a>
      <ul class="header__dropdown-content" role="menu">
        <li><a href="/{{ page.lang }}/discover/sectors/">Sectors</a></li>
        <li><a href="/{{ page.lang }}/discover/markets/">Markets</a></li>
        <li><a href="/{{ page.lang }}/discover/attributes/">Attributes</a></li>
        <li><a href="/{{ page.lang }}/discover/signals/">Signals</a></li>
      </ul>
    </li>
    <li class="header__nav-item"><a href="/{{ page.lang }}/insights/">Insights</a></li>
    <li class="header__nav-item"><a href="/{{ page.lang }}/about/">About</a></li>
  </ul>
</nav>