{% assign sections = site.data.translations[page.lang].tags %}

<div class="tag-cloud">
  {% for section in sections %}
    {% assign tag_type = section[0] %}
    {% assign tags = section[1] %}
    {% if tags.size > 0 %}
      <div class="tag-cloud__group">
        <h3 class="tag-cloud__label">{{ site.data.translations[page.lang].tag_groups[tag_type] }}</h3>
        <div class="tag-cloud__tags">
          {% for tag in tags %}
            {% assign slug = tag[0] %}
            <a href="{{ site.baseurl }}/{{ page.lang }}/tags/{{ tag_type }}/{{ slug }}/" class="tag tag--{{ tag_type }} tag-cloud__tag">
              {{ tag[1] | default: tag[0] }}
            </a>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>