{% comment %}
  Market-Sector Cross Navigation
  Provides navigation links to related pages.
{% endcomment %}

{% assign markets = site.data.markets.markets %}
{% assign sectors = site.data.sectors.sectors %}

{% for m in markets %}
  {% if m.id == market %}
    {% assign current_market = m %}
    {% break %}
  {% endif %}
{% endfor %}

{% for s in sectors %}
  {% if s.id == sector %}
    {% assign current_sector = s %}
    {% break %}
  {% endif %}
{% endfor %}

<div class="panel panel--light">
  <div class="panel__content">
    <div class="market-sector__navigation">
      <div class="market-sector__navigation-links">
        <a href="{{ site.baseurl }}/{{ page.lang }}/discover/sectors/{{ sector }}/" class="market-sector__navigation-link">
          <span class="market-sector__navigation-icon">
            {% include components/icons/icon.html type="sector" name="sector-default" size="sm" %}
          </span>
          {% capture sector_name %}{% include helpers/dimension-name.html type="sectors" id=sector %}{% endcapture %}
          {{ site.data.translations[page.lang].market_sectors.back_to_sector | replace: '%sector%', sector_name | strip }}
        </a>
        <a href="{{ site.baseurl }}/{{ page.lang }}/discover/markets/{{ market }}/" class="market-sector__navigation-link">
          <span class="market-sector__navigation-icon">
            {% include components/icons/icon.html type="market" name="market-default" size="sm" %}
          </span>
          {% capture market_name %}{% include helpers/dimension-name.html type="markets" id=market %}{% endcapture %}
          {{ site.data.translations[page.lang].market_sectors.back_to_market | replace: '%market%', market_name | strip }}
        </a>
      </div>
    </div>
  </div>
</div>
