{% comment %}
  Component: pages/journal/featured-image.html
  Purpose: Display featured image for journal posts
  Parameters:
    - post: The post object
  Dependencies:
    - assets/css/pages/journal/featured-image.scss
    - components/images/base-image.html
{% endcomment %}

{% assign post = include.post | default: page %}

{% if post.image %}
  <div class="featured-image__content" style="background-image: url('{{ post.image | relative_url }}');">
        {% if post.image_caption %}
          <p class="featured-image__caption">{{ post.image_caption }}</p>
        {% endif %}
  </div>
{% endif %}