{% comment %}
  All Attributes Grid (JSON Version)
  Displays a grid of all attribute items used to categorize brands.
  Used in: /discover/attributes/
{% endcomment %}

{% assign attributes = site.data.attributes.attributes %}

<div class="attributes-grid">
  {% for attribute in attributes %}
    <div class="attribute-card">
      <div class="attribute-card__icon">
        {% if attribute.icon %}
          <img src="{{ '/assets/images/icons/' | append: attribute.icon | relative_url }}" alt="{% include helpers/dimension-name.html type="attributes" id=attribute.id %} icon">
        {% else %}
          <div class="attribute-card__placeholder-icon"></div>
        {% endif %}
      </div>

      <h3 class="attribute-card__title">{% include helpers/dimension-name.html type="attributes" id=attribute.id %}</h3>

      <p class="attribute-card__description">{{ attribute.description[page.lang] }}</p>

      <a href="{{ site.baseurl }}/{{ page.lang }}/discover/attributes/{{ attribute.id }}/" class="attribute-card__link">
        {% include helpers/t.html key="discover.explore_attribute" fallback="Explore Attribute" %}
      </a>
    </div>
  {% endfor %}
</div>
