{% comment %}
  Component: components/images/portrait.html
  Purpose: Vertical portrait images (2:3 aspect ratio)
  Mobile-first sizing

  <!-- Founder portrait -->
{% include components/images/portrait.html
   collection="brands"
   item="ru-teatime"
   person="alexei-sokolov"
   alt="Alexei Sokolov, TeaTime founder" %}

   
{% endcomment %}

{% include components/images/base-image.html
  collection=include.collection
  item=include.item
  category=include.category
  filename="portrait-" | append: include.person
  widths="300,600,900"
  sizes="280px, (min-width: 768px) 350px, (min-width: 1200px) 400px"
  alt=include.alt
  class=include.class | append: " portrait"
  ext=include.ext | default: 'jpg'
%}
