<!-- _includes/components/brand/tag-list.html -->
{% comment %}
  Component: components/brand/tag-list.html
  Purpose: Displays a list of tags for a specific dimension
  Parameters:
    - tags: Array of tag slugs to display
    - dimension_type: Type of dimension (attributes/signals/sectors/markets)
    - heading: Section heading
    - lang: Language code
    - show_if: Condition to show the section (optional)
{% endcomment %}

{% assign show_section = include.show_if | default: true %}

{% if include.tags and show_section %}
<div class="brand-sidebar__section">
  <h3 class="brand-sidebar__heading">{{ include.heading }}</h3>
  <div class="brand-sidebar__tags">
    {% for tag in include.tags %}
    <a href="{{ site.baseurl }}/{{ include.lang }}/discover/{{ include.dimension_type }}/{{ tag | slugify }}/"
       class="brand-sidebar__tag brand-sidebar__tag--{{ include.dimension_type | singularize }}">
      {{ site.data.dimensions[include.lang][include.dimension_type][tag] | default: tag }}
    </a>
    {% endfor %}
  </div>
</div>
{% endif %}
