---
layout: discover
---
<div class="attributes-grid">
  {% assign attribute_discovery = site.discovery | where: "discovery_type", "attribute" | where: "lang", page.lang %}
  
  {% for attribute in attribute_discovery %}
  <div class="attribute-card">
    <div class="attribute-card__icon">
      {% if attribute.badge_icon %}
      <img src="{{ '/assets/images/badges/' | append: attribute.badge_icon | relative_url }}" alt="{{ attribute.title }} icon">
      {% else %}
      <div class="attribute-card__placeholder-icon"></div>
      {% endif %}
    </div>
    
    <h3 class="attribute-card__title">{{ attribute.title }}</h3>
    
    <p class="attribute-card__description">{{ attribute.description }}</p>
    
    <a href="{{ attribute.url | relative_url }}" class="attribute-card__link btn-secondary">{{ site.data.translations[page.lang].discover.explore_attribute }}</a>
  </div>
  {% endfor %}
</div>