{% comment %}
  Component: components/seo/schema-detector.html
  Purpose: Determines page type and includes appropriate schema markup
  Parameters:
    - page: The current page object (required)
  Dependencies:
    - components/seo/schema-*.html components
{% endcomment %}

{% case page.layout %}
  {% when 'insight-article' %}
    {% include components/seo/schema-article.html article=page %}
  {% when 'brand-profile' %}
    {% include components/seo/schema-product.html product=page %}
  {% when 'founder-profile' %}
    {% include components/seo/schema-person.html person=page %}
  {% when 'dimension' %}
    {% include components/seo/schema-collection.html collection=page %}
{% endcase %}
