<!DOCTYPE html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}en{% endif %}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.data.translations[page.lang].site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.data.translations[page.lang].site.description }}{% endif %}">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/images/favicon-16x16.png' | relative_url }}">
  <link rel="shortcut icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">
  <link rel="manifest" href="{{ '/assets/images/site.webmanifest' | relative_url }}">


  <!-- Style Sheets -->  
  <!-- Core styles -->
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/typography.css' | relative_url }}">

  <!-- Component styles -->
  <link rel="stylesheet" href="{{ '/assets/css/components/buttons.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/components/navigation.css' | relative_url }}">
  <!-- Other component styles -->

  <!-- Layout styles -->
  <link rel="stylesheet" href="{{ '/assets/css/layout/panels.css' | relative_url }}">
  <!-- Other layout styles -->

  <!-- Conditionally load Page-specific styles -->
  {% if page.permalink == '/en/' or page.permalink == '/ru/' or page.permalink == '/zh/' %}
    <link rel="stylesheet" href="{{ '/assets/css/pages/home.css' | relative_url }}">
  {% endif %}

  {% if page.permalink contains '/about/' %}
    <link rel="stylesheet" href="{{ '/assets/css/pages/about.css' | relative_url }}">
  {% endif %}
  {% if page.permalink contains '/brands/' %}
  <link rel="stylesheet" href="{{ '/assets/css/pages/brands.css' | relative_url }}">
{% endif %}

 <!-- end of Style Sheets -->  
 
  <!-- Font preloading for performance -->
  <link rel="preload" href="{{ '/assets/fonts/pt-serif_regular.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ '/assets/fonts/pt-sans_regular.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>
  
  <!-- Conditional preloading for Chinese fonts -->
  {% if page.lang == 'zh' %}
  <link rel="preload" href="{{ '/assets/fonts/NotoSerifSC-Regular.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ '/assets/fonts/NotoSansSC-Regular.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>
  {% endif %}  

<!-- Font Awesome icons-->
  <script src="https://kit.fontawesome.com/6c425ae2ba.js" crossorigin="anonymous"></script>

  <!-- MailerLite Universal -->
  <script>
    (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[]).push(arguments);},l=d.createElement(e),l.async=1,l.src=u,n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})(window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
    ml('account', '1377139');
  </script>
  <!-- End MailerLite Universal -->

  <!-- Tally popup script -->
<script async src="https://tally.so/widgets/embed.js"></script>

  <!-- Google Analytics -->
  {% include google-analytics.html %}
</head>
<body class="{% if page.permalink == '/en/' or page.permalink == '/ru/' or page.permalink == '/zh/' %}home-page{% elsif page.permalink contains '/about/' %}about-page{% endif %}">
  {% include header.html %}
  <main class="page-content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>
  
  {% include footer.html %}
</body>
</html>
