---
layout: default
---
<div class="panel panel--hero">
  <div class="panel__content">
    <h1 class="panel__heading-primary">{{ page.title }}</h1>
    <p class="panel__subtitle">{{ page.subtitle }}</p>
  </div>
</div>

<div class="panel panel--light">
  <div class="panel__content">
    <div class="discovery__tabs">
      <a href="{{ site.baseurl }}/{{ page.lang }}/discover/sectors/" class="discovery__tab {% if page.discovery_path == 'sectors' %}active{% endif %}">
        {{ site.data.translations[page.lang].nav.sectors }}
      </a>
      <a href="{{ site.baseurl }}/{{ page.lang }}/discover/russian-sectors/" class="discovery__tab {% if page.discovery_path == 'russian-sectors' %}active{% endif %}">
        {{ site.data.translations[page.lang].nav.russian_sectors }}
     </a>
      <a href="{{ site.baseurl }}/{{ page.lang }}/discover/markets/" class="discovery__tab {% if page.discovery_path == 'markets' %}active{% endif %}">
        {{ site.data.translations[page.lang].nav.markets }}
      </a>
      <a href="{{ site.baseurl }}/{{ page.lang }}/discover/attributes/" class="discovery__tab {% if page.discovery_path == 'attributes' %}active{% endif %}">
        {{ site.data.translations[page.lang].nav.attributes }}
      </a>
      <a href="{{ site.baseurl }}/{{ page.lang }}/discover/signals/" class="discovery__tab {% if page.discovery_path == 'signals' %}active{% endif %}">
        {{ site.data.translations[page.lang].nav.signals }}
      </a>
    </div>
    
    <div class="discovery__content">
      {{ content }}
    </div>
  </div>
</div>