---
layout: default
---

<!-- ----------------------------------------------------------------------------
  INSIGHT DETAIL LAYOUT (REFACTORED)
  ------------------------------------------------------------------------------
  Used for individual insight pages such as:

    - /en/insights/teatime-brand-story/
    - /ru/insights/why-russia-markets-matter/

  Purpose:
  - Renders the full content of a single insight
  - Displays metadata (category, author, publish date, reading time)
  - Includes a back-link to the insights index
  - Shows feature image (if provided)
  - Outputs linked tags (sectors, markets, attributes, signals)
  - Displays related brands and related insights in sidebar

  Used by:
  - Files in _insights/ directory

  Dependencies:
  - _includes/pages/insight/header.html
  - _includes/pages/insight/content.html
  - _includes/pages/insight/taxonomy.html
  - _includes/pages/insight/sidebar.html
  - assets/css/pages/insight/*.scss
---------------------------------------------------------------------------- -->

<div class="panel panel--light">
  <div class="panel__content">
    <div class="insight-detail-container">
      <div class="insight-detail-main {% if page.premium %}premium-content{% endif %}">
        {% include pages/insight/header.html insight=page %}
        {% include pages/insight/content.html insight=page content=content %}
        {% include pages/insight/taxonomy.html insight=page %}
      </div>
      
      <div class="insight-detail-sidebar">
        {% include pages/insight/sidebar.html insight=page %}
      </div>
    </div>
  </div>
</div>