/* assets/css/pages/brands/intro.scss */

/* Brands intro section styles */
.brands-page {
  /* Specific styling for the brands intro panel */
  .panel--light .panel__lead-text {
    text-align: center;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    font-size: var(--text-lg);

    @media (width <= 768px) {
      font-size: var(--text-base);
    }
  }
}
