{% comment %}
  Component: pages/brand/certifications.html
  Purpose: Displays the certifications and awards section of a brand page
  Parameters:
    - brand: The brand object to display (default: page)
    - show_certifications: Whether to show the certifications section (default: true)
  Dependencies:
    - assets/css/pages/brand/certifications.scss
    - site.data.translations[lang].brand
{% endcomment %}

{% assign brand = include.brand | default: page %}
{% assign show_certifications = include.show_certifications | default: true %}

<!-- Refactored certifications.html -->
{% if show_certifications and brand.featured_level > 0 and (brand.certifications or brand.awards) %}
<div class="brand-certifications">
  <h2 class="brand-certifications__heading">{{ site.data.translations[brand.lang].brand.certifications }}</h2>

  {% if brand.certifications %}
    {% assign certifications_heading = site.data.translations[brand.lang].brand.certifications %}
    {% include components/brand/recognition-section.html
       items=brand.certifications
       heading=certifications_heading %}
  {% endif %}

  {% if brand.awards %}
    {% assign awards_heading = site.data.translations[brand.lang].general.awards %}
    {% include components/brand/recognition-section.html
       items=brand.awards
       heading=awards_heading %}
  {% endif %}
</div>
{% endif %}
