{% comment %}
  Component: pages/brand/gallery.html
  Purpose: Displays the gallery section of a brand page
  Parameters:
    - brand: The brand object to display (default: page)
    - show_gallery: Whether to show the gallery (default: true)
  Dependencies:
    - assets/css/pages/brand/gallery.scss
    - components/images/collection-image.html
    - site.data.translations[lang].brand
{% endcomment %}

{% assign brand = include.brand | default: page %}
{% assign show_gallery = include.show_gallery | default: true %}

{% if show_gallery and brand.featured_level > 1 and brand.gallery %}
<div class="brand-gallery">
  <h2 class="brand-gallery__heading">{{ site.data.translations[brand.lang].brand.gallery }}</h2>
  <div class="brand-gallery__container">
    {% for item in brand.gallery %}
    <figure class="brand-gallery__item">
      {% include components/images/collection-image.html
         collection="brands"
         slug=brand.slug
         purpose="gallery"
         name=item.image
         aspect="landscape"
         alt=item.caption %}
      <figcaption class="brand-gallery__caption">{{ item.caption }}</figcaption>
    </figure>
    {% endfor %}
  </div>
</div>
{% endif %}
