{% comment %}
  Component: pages/brand/location.html
  Purpose: Displays the location intelligence section of a brand page with a map
  Parameters:
    - brand: The brand object to display (default: page)
    - show_location: Whether to show the location section (default: true)
  Dependencies:
    - assets/css/pages/brand/location.scss
    - site.data.translations[lang].brand
    - MapLibre library (external)
{% endcomment %}

{% assign brand = include.brand | default: page %}
{% assign show_location = include.show_location | default: true %}

{% if show_location and brand.featured_level > 0 and brand.location.coordinates and brand.location_intelligence != false %}
<div class="brand-location">
  <h2 class="brand-location__heading">{{ site.data.translations[brand.lang].brand.location_intelligence }}</h2>
  
  <div class="brand-location__map">
    <!-- MapLibre map will be inserted here via JavaScript -->
    <div id="brandLocationMap" class="brand-location__map-container" 
         data-lat="{{ brand.location.coordinates[1] }}" 
         data-lng="{{ brand.location.coordinates[0] }}" 
         data-name="{{ brand.title }}"></div>
  </div>
  
  <div class="brand-location__details">
    <p class="brand-location__address">
      <strong>{{ site.data.translations[brand.lang].brand.location }}:</strong>
      {{ brand.location.city }}{% if brand.location.region %}, {{ brand.location.region }}{% endif %}{% if brand.location.country %}, {{ brand.location.country }}{% endif %}
    </p>
  </div>
</div>
{% endif %}