<!-- _includes/pages/brand/sidebar.html (refactored) -->
{% comment %}
  Component: pages/brand/sidebar.html
  Purpose: Displays the sidebar for a brand page
  Parameters:
    - brand: The brand object to display (default: page)
  Dependencies:
    - Components in _includes/components/brand/
    - assets/css/pages/brand/sidebar.scss
{% endcomment %}

{% assign brand = include.brand | default: page %}

<div class="brand-sidebar">
  <!-- Brand Attributes -->
  {% include components/brand/tag-list.html
     tags=brand.attributes
     dimension_type="attributes"
     heading=site.data.translations[brand.lang].dimensions.attributes
     lang=brand.lang %}

  <!-- Brand Signals -->
  {% include components/brand/tag-list.html
     tags=brand.signals
     dimension_type="signals"
     heading=site.data.translations[brand.lang].dimensions.signals
     lang=brand.lang
     show_if=brand.featured_level > 0 %}

  <!-- Contact Information -->
  {% include components/brand/contact-info.html
     email=brand.contact_email
     website=brand.website
     lang=brand.lang
     show_if=brand.featured_level > 0 %}

  <!-- Social Media Links -->
  {% include components/brand/social-media-icons.html
     social=brand.social_media
     lang=brand.lang
     show_if=brand.featured_level > 0 %}

  <!-- Related Insights -->
  {% include components/brand/related-insights.html
     brand_slug=brand.slug
     lang=brand.lang
     limit=3 %}
</div>
