{% comment %}
  Component: pages/brand/timeline.html
  Purpose: Displays the timeline section of a brand page
  Parameters:
    - brand: The brand object to display (default: page)
    - show_timeline: Whether to show the timeline (default: true)
  Dependencies:
    - assets/css/pages/brand/timeline.scss
    - site.data.translations[lang].brand
{% endcomment %}

{% assign brand = include.brand | default: page %}
{% assign show_timeline = include.show_timeline | default: true %}

{% if show_timeline and brand.timeline and brand.featured_level > 0 %}
<div class="brand-timeline">
  <h2 class="brand-timeline__heading">{{ site.data.translations[brand.lang].brand.timeline }}</h2>
  <div class="brand-timeline__container">
    {% for milestone in brand.timeline %}
    <div class="brand-timeline__item">
      <div class="brand-timeline__year">{{ milestone.year }}</div>
      <div class="brand-timeline__content">
        <div class="brand-timeline__event">{{ milestone.event }}</div>
        {% if milestone.description %}
        <div class="brand-timeline__description">{{ milestone.description }}</div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}