<div class="tag-list">
  {% if include.tags %}
    {% assign sector_tags = "" | split: "" %}
    {% assign attribute_tags = "" | split: "" %}
    {% assign growth_tags = "" | split: "" %}
    {% assign country_tags = "" | split: "" %}
    
    {% for tag_id in include.tags %}
      {% for tag_type in site.data.tag_translations %}
        {% if site.data.tag_translations[tag_type.first][tag_id] %}
          {% if tag_type.first == "sectors" %}
            {% assign sector_tags = sector_tags | push: tag_id %}
            {% break %}
          {% elsif tag_type.first == "attributes" %}
            {% assign attribute_tags = attribute_tags | push: tag_id %}
            {% break %}
          {% elsif tag_type.first == "growth" %}
            {% assign growth_tags = growth_tags | push: tag_id %}
            {% break %}
          {% elsif tag_type.first == "countries" %}
            {% assign country_tags = country_tags | push: tag_id %}
            {% break %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    
    {% if sector_tags.size > 0 %}
      <div class="sector-tags">
        {% for tag_id in sector_tags %}
          <a href="{{ site.baseurl }}/{{ page.lang }}/tags/sectors/{{ tag_id }}/" class="tag sector-tag">
            {{ site.data.tag_translations.sectors[tag_id][page.lang] }}
          </a>
        {% endfor %}
      </div>
    {% endif %}
    
    {% if attribute_tags.size > 0 %}
      <div class="attribute-tags">
        {% for tag_id in attribute_tags %}
          <a href="{{ site.baseurl }}/{{ page.lang }}/tags/attributes/{{ tag_id }}/" class="tag attribute-tag">
            {{ site.data.tag_translations.attributes[tag_id][page.lang] }}
          </a>
        {% endfor %}
      </div>
    {% endif %}
    
    {% if growth_tags.size > 0 %}
      <div class="growth-tags">
        {% for tag_id in growth_tags %}
          <a href="{{ site.baseurl }}/{{ page.lang }}/tags/growth/{{ tag_id }}/" class="tag growth-tag">
            {{ site.data.tag_translations.growth[tag_id][page.lang] }}
          </a>
        {% endfor %}
      </div>
    {% endif %}
    
    {% if country_tags.size > 0 %}
      <div class="country-tags">
        {% for tag_id in country_tags %}
          <a href="{{ site.baseurl }}/{{ page.lang }}/tags/countries/{{ tag_id }}/" class="tag country-tag">
            {{ site.data.tag_translations.countries[tag_id][page.lang] }}
          </a>
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}
</div>