<div class="tag-cloud">
  <h3>{{ site.data.translations[page.lang].tags.sectors }}</h3>
  <div class="sector-cloud">
    {% for tag in site.data.tag_translations.sectors %}
      <a href="{{ site.baseurl }}/{{ page.lang }}/tags/sectors/{{ tag[0] }}/" class="tag sector-tag">
        {{ tag[1][page.lang] }}
      </a>
    {% endfor %}
  </div>
  
  <h3>{{ site.data.translations[page.lang].tags.attributes }}</h3>
  <div class="attribute-cloud">
    {% for tag in site.data.tag_translations.attributes %}
      <a href="{{ site.baseurl }}/{{ page.lang }}/tags/attributes/{{ tag[0] }}/" class="tag attribute-tag">
        {{ tag[1][page.lang] }}
      </a>
    {% endfor %}
  </div>
  
  <h3>{{ site.data.translations[page.lang].tags.growth }}</h3>
  <div class="growth-cloud">
    {% for tag in site.data.tag_translations.growth %}
      <a href="{{ site.baseurl }}/{{ page.lang }}/tags/growth/{{ tag[0] }}/" class="tag growth-tag">
        {{ tag[1][page.lang] }}
      </a>
    {% endfor %}
  </div>
  
  <h3>{{ site.data.translations[page.lang].tags.countries }}</h3>
  <div class="country-cloud">
    {% for tag in site.data.tag_translations.countries %}
      <a href="{{ site.baseurl }}/{{ page.lang }}/tags/countries/{{ tag[0] }}/" class="tag country-tag">
        {{ tag[1][page.lang] }}
      </a>
    {% endfor %}
  </div>
</div>